swagger: "2.0"
info:
  title: Clash of Clans API
  description: |
    Check out <a href="https://developer.clashofclans.com/#/getting-started" target="_parent">Getting Started</a> for instructions and links to other resources. Clash of Clans API uses <a href="https://jwt.io/" target="_blank">JSON Web Tokens</a> for authorizing the requests. Tokens are created by developers on <a href="https://developer.clashofclans.com/#/account" target="_parent">My Account</a> page and must be passed in every API request in Authorization HTTP header using Bearer authentication scheme. Correct Authorization header looks like this: "Authorization: Bearer API_TOKEN".
  version: v1
  termsOfService: http://supercell.com/en/terms-of-service/
host: api.clashofclans.com
basePath: /v1
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
tags:
  -
    name: clans
    description: Access clan specific information
  -
    name: players
    description: Access player specific information
  -
    name: leagues
    description: Access league information
  -
    name: locations
    description: Access global and local rankings
  -
    name: goldpass
    description: Access information about gold pass
  -
    name: esports
    description: Esports related APIs
responses:
  InMaintenanceSpec:
    description: Service is temprorarily unavailable because of maintenance.
    schema:
      $ref: '#/definitions/ClientError'
  UnknownExceptionSpec:
    description: Unknown error happened when handling the request.
    schema:
      $ref: '#/definitions/ClientError'
  RequestThrottledSpec:
    description: |
      Request was throttled, because amount of requests was above the threshold defined for the used API token.
    schema:
      $ref: '#/definitions/ClientError'
  NotFoundSpec:
    description: Resource was not found.
    schema:
      $ref: '#/definitions/ClientError'
  ForbiddenSpec:
    description: |
      Access denied, either because of missing/incorrect credentials or used API token does not grant access to the requested resource.
    schema:
      $ref: '#/definitions/ClientError'
  BadRequestSpec:
    description: Client provided incorrect parameters for the request.
    schema:
      $ref: '#/definitions/ClientError'
definitions:
  WarLeagueList:
    type: array
    items:
      $ref: '#/definitions/WarLeague'
  WarLeague:
    type: object
    properties:
      name:
        $ref: '#/definitions/JsonLocalizedName'
      id:
        type: integer
  JsonLocalizedName:
    type: object
  ServiceVersion:
    type: object
    properties:
      major:
        type: integer
      minor:
        type: integer
      content:
        type: integer
  LabelList:
    type: array
    items:
      $ref: '#/definitions/Label'
  Label:
    type: object
    properties:
      name:
        $ref: '#/definitions/JsonLocalizedName'
      id:
        type: integer
      iconUrls:
        type: object
  ClanCapitalRaidSeasons:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRaidSeason'
  ClanCapitalRaidSeason:
    type: object
    properties:
      attackLog:
        $ref: '#/definitions/ClanCapitalRaidSeasonAttackLogList'
      defenseLog:
        $ref: '#/definitions/ClanCapitalRaidSeasonDefenseLogList'
      state:
        type: string
      startTime:
        type: string
      endTime:
        type: string
      capitalTotalLoot:
        type: integer
      raidsCompleted:
        type: integer
      totalAttacks:
        type: integer
      enemyDistrictsDestroyed:
        type: integer
      offensiveReward:
        type: integer
      defensiveReward:
        type: integer
      members:
        $ref: '#/definitions/ClanCapitalRaidSeasonMemberList'
  ClanCapitalRaidSeasonMemberList:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRaidSeasonMember'
  ClanCapitalRaidSeasonMember:
    type: object
    properties:
      tag:
        type: string
      name:
        type: string
      attacks:
        type: integer
      attackLimit:
        type: integer
      bonusAttackLimit:
        type: integer
      capitalResourcesLooted:
        type: integer
  ClanCapitalRaidSeasonDefenseLogList:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRaidSeasonDefenseLogEntry'
  ClanCapitalRaidSeasonDefenseLogEntry:
    type: object
    properties:
      attacker:
        $ref: '#/definitions/ClanCapitalRaidSeasonClanInfo'
      attackCount:
        type: integer
      districtCount:
        type: integer
      districtsDestroyed:
        type: integer
      districts:
        $ref: '#/definitions/ClanCapitalRaidSeasonDistrictList'
  ClanCapitalRaidSeasonDistrictList:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRaidSeasonDistrict'
  ClanCapitalRaidSeasonDistrict:
    type: object
    properties:
      stars:
        type: integer
      name:
        $ref: '#/definitions/JsonLocalizedName'
      id:
        type: integer
      destructionPercent:
        type: integer
      attackCount:
        type: integer
      totalLooted:
        type: integer
      attacks:
        $ref: '#/definitions/ClanCapitalRaidSeasonAttackList'
      districtHallLevel:
        type: integer
  ClanCapitalRaidSeasonAttackList:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRaidSeasonAttack'
  ClanCapitalRaidSeasonAttack:
    type: object
    properties:
      attacker:
        $ref: '#/definitions/ClanCapitalRaidSeasonAttacker'
      destructionPercent:
        type: integer
      stars:
        type: integer
  ClanCapitalRaidSeasonAttacker:
    type: object
    properties:
      tag:
        type: string
      name:
        type: string
  ClanCapitalRaidSeasonClanInfo:
    type: object
    properties:
      tag:
        type: string
      name:
        type: string
      level:
        type: integer
      badgeUrls:
        type: object
  ClanCapitalRaidSeasonAttackLogList:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRaidSeasonAttackLogEntry'
  ClanCapitalRaidSeasonAttackLogEntry:
    type: object
    properties:
      defender:
        $ref: '#/definitions/ClanCapitalRaidSeasonClanInfo'
      attackCount:
        type: integer
      districtCount:
        type: integer
      districtsDestroyed:
        type: integer
      districts:
        $ref: '#/definitions/ClanCapitalRaidSeasonDistrictList'
  Location:
    type: object
    properties:
      localizedName:
        type: string
      id:
        type: integer
      name:
        type: string
      isCountry:
        type: boolean
      countryCode:
        type: string
  Replay:
    type: object
    properties:
      replayData:
        $ref: '#/definitions/JsonNode'
      replayTag:
        type: string
  JsonNode:
    type: object
  ClanCapitalRankingList:
    type: array
    items:
      $ref: '#/definitions/ClanCapitalRanking'
  ClanCapitalRanking:
    type: object
    properties:
      clanPoints:
        type: integer
      clanCapitalPoints:
        type: integer
  WarStatusList:
    type: array
    items:
      $ref: '#/definitions/WarStatus'
  WarStatus:
    type: object
    properties:
      statusCode:
        type: integer
      clanTag:
        type: string
      enemyClanTag:
        type: string
      warState:
        type: string
        enum:
          - CLAN_NOT_FOUND
          - ACCESS_DENIED
          - NOT_IN_WAR
          - IN_MATCHMAKING
          - ENTER_WAR
          - MATCHED
          - PREPARATION
          - WAR
          - IN_WAR
          - ENDED
      timestamp:
        type: string
  LocationList:
    type: array
    items:
      $ref: '#/definitions/Location'
  ClanMemberList:
    type: array
    items:
      $ref: '#/definitions/ClanMember'
  ClanMember:
    type: object
    properties:
      league:
        $ref: '#/definitions/League'
      builderBaseLeague:
        $ref: '#/definitions/BuilderBaseLeague'
      tag:
        type: string
      name:
        type: string
      role:
        type: string
        enum:
          - NOT_MEMBER
          - MEMBER
          - LEADER
          - ADMIN
          - COLEADER
      townHallLevel:
        type: integer
      expLevel:
        type: integer
      clanRank:
        type: integer
      previousClanRank:
        type: integer
      donations:
        type: integer
      donationsReceived:
        type: integer
      trophies:
        type: integer
      builderBaseTrophies:
        type: integer
      playerHouse:
        $ref: '#/definitions/PlayerHouse'
  PlayerHouse:
    type: object
    properties:
      elements:
        $ref: '#/definitions/PlayerHouseElementList'
  PlayerHouseElementList:
    type: array
    items:
      $ref: '#/definitions/PlayerHouseElement'
  PlayerHouseElement:
    type: object
    properties:
      id:
        type: integer
      type:
        type: string
        enum:
          - GROUND
          - ROOF
          - FOOT
          - DECO
  BuilderBaseLeague:
    type: object
    properties:
      name:
        $ref: '#/definitions/JsonLocalizedName'
      id:
        type: integer
  League:
    type: object
    properties:
      name:
        $ref: '#/definitions/JsonLocalizedName'
      id:
        type: integer
      iconUrls:
        type: object
  LeagueSeasonList:
    type: array
    items:
      $ref: '#/definitions/LeagueSeason'
  LeagueSeason:
    type: object
    properties:
      id:
        type: string
  BuilderBaseLeagueList:
    type: array
    items:
      $ref: '#/definitions/BuilderBaseLeague'
  VerifyTokenRequest:
    type: object
    properties:
      token:
        type: string
  VerifyTokenResponse:
    type: object
    properties:
      tag:
        type: string
      token:
        type: string
      status:
        type: string
  Clan:
    type: object
    properties:
      warLeague:
        $ref: '#/definitions/WarLeague'
      capitalLeague:
        $ref: '#/definitions/CapitalLeague'
      memberList:
        $ref: '#/definitions/ClanMemberList'
      tag:
        type: string
      clanLevel:
        type: integer
      warWinStreak:
        type: integer
      warWins:
        type: integer
      warTies:
        type: integer
      warLosses:
        type: integer
      clanPoints:
        type: integer
      chatLanguage:
        $ref: '#/definitions/Language'
      clanBuilderBasePoints:
        type: integer
      clanCapitalPoints:
        type: integer
      requiredTrophies:
        type: integer
      requiredBuilderBaseTrophies:
        type: integer
      requiredTownhallLevel:
        type: integer
      isFamilyFriendly:
        type: boolean
      isWarLogPublic:
        type: boolean
      warFrequency:
        type: string
        enum:
          - UNKNOWN
          - ALWAYS
          - MORE_THAN_ONCE_PER_WEEK
          - ONCE_PER_WEEK
          - LESS_THAN_ONCE_PER_WEEK
          - NEVER
          - ANY
      labels:
        $ref: '#/definitions/LabelList'
      name:
        type: string
      location:
        $ref: '#/definitions/Location'
      type:
        type: string
        enum:
          - OPEN
          - INVITE_ONLY
          - CLOSED
      members:
        type: integer
      description:
        type: string
      clanCapital:
        $ref: '#/definitions/ClanCapital'
      badgeUrls:
        type: object
  ClanCapital:
    type: object
